h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    gap: 50px;
}

body {
    background-color: whitesmoke;
    margin-left: 15px;
    margin-right: 15px;
}

.card {
    width: 400px;
    margin: 0px;
    background-color: white;
    padding: 10px
}

.city-image {
    width:100%
}

.comment {
    width: 15px;
}

.top-section {
    position: relative;
}

.photo {
    position: absolute;
    bottom: -12px;
    background-color: rgb(239, 112, 8);
    color: white;
    padding: 20px;
}

.date {
    position: absolute;
    top:5%;
    background-color: rgb(239, 112, 8);
    right: 30px;
    color: white;
    border-radius: 1000px;
    padding: 15px;
    text-align: center;
}

.box {
background-color: rgb(238, 237, 237);
padding: 0px;
padding: 10px;
border-radius: 5px;
}

.footer {
    display: flex;
    gap: 10px;
}

.box h2 {
    text-align: left;
    font-size: 34px;
}

.box h3 {
    font-size: 20px;
    color:rgb(239, 112, 8);
}




